<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>MoonSky Weather Channel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/msw.css" th:href="@{/css/msw.css}" />
  </head>

  <body>

    <div>
      <img src="../../images/mswlogo.png" alt="Weather logo" title="Weather logo" 
           th:src="@{/images/mswlogo.png}" th:alt-title="#{logo}" />
    </div>
  
    <p th:utext="#{home.welcome}"></p>
  
    <p>
      Today is: <span th:with="df=#{date.format}" th:text="${#calendars.format(today,df)}"></span>
    </p>
    
    <h3>Daily Weather Forecast in the cities: </h3>
    
     <table style="width:100%">
	  <tr>
	    <th>Place</th>
	    <th>High Temp (°C)</th>
	    <th>Low Temp (°C)</th>
	    <th>Summary</th>
	  </tr>
	  <tr>
	    <td>Campbell, CA</td>
	    <td><span th:text="${forecast0.temperatureHigh}"></span></td>
	    <td><span th:text="${forecast0.temperatureLow}"></span></td>
	    <td><span th:text="${forecast0.summary}"></span></td>
	  </tr>
	  <tr>
	    <td>Omaha, NE</td>
	    <td><span th:text="${forecast1.temperatureHigh}"></span></td>
	    <td><span th:text="${forecast1.temperatureLow}"></span></td>
	    <td><span th:text="${forecast1.summary}"></span></td>
	  </tr>
	  <tr>
	    <td>Austin, TX</td>
	    <td><span th:text="${forecast2.temperatureHigh}"></span></td>
	    <td><span th:text="${forecast2.temperatureLow}"></span></td>
	    <td><span th:text="${forecast2.summary}"></span></td>
	  </tr>
	  <tr>
	    <td>Niseko, Japan</td>
	    <td><span th:text="${forecast3.temperatureHigh}"></span></td>
	    <td><span th:text="${forecast3.temperatureLow}"></span></td>
	    <td><span th:text="${forecast3.summary}"></span></td>
	  </tr>
	  <tr>
	    <td>Nara, Japan</td>
	    <td><span th:text="${forecast4.temperatureHigh}"></span></td>
	    <td><span th:text="${forecast4.temperatureLow}"></span></td>
	    <td><span th:text="${forecast4.summary}"></span></td>
	  </tr>
	  <tr>
	    <td>Jakarta, Indonesia</td>
	    <td><span th:text="${forecast5.temperatureHigh}"></span></td>
	    <td><span th:text="${forecast5.temperatureLow}"></span></td>
	    <td><span th:text="${forecast5.summary}"></span></td>
	  </tr>
	</table> 
    <br>
	<input type="button" value = "Refresh" onclick="window.location.reload();" />
    <br>
    
    <div th:insert="~{footer::copy}">&copy; 2019 The Sharib Templates</div>
  </body>
</html>

